body {
  background-image: url("/images/helena-hertz-295994.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 30px;
} 
h1 {
  text-align: center;
} 
h2 {
  text-align: center;
} 
h3 {
  text-align: center;
}
.jumbotron {
  opacity: 0.9;
}
