body {
  background-image: url("/images/helena-hertz-295994.jpg");
  background-position: top;
  background-repeat: repeat-y;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
} 
h1 {
  text-align: center;
} 
h2 {
  text-align: center;
} 
h3 {
  text-align: center;
}
.jumbotron {
  opacity: 0.9;
}
.carousel-inner img {
  width: 576px;
  height: 800px;
}
