<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>ABOUT ME</title> 
  <!-- Bootstrap -->
  <link href="/css/bootstrap.css" rel="stylesheet">  
  
  <style> 
    body {
      padding-top: 70px;
      padding-bottom: 30px;
    } 
    h1 {
      text-align: center;
    }          
    h3 {
      text-align: center;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Ming Sun</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/home">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li class="active"><a href="/about-me">About Me</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container">
      <div class="row">
        <h1>Ming Sun</h1>
        <h3>Mobile App FreeLancer | Lead Backend & iOS App Developer @ Wrevel, Inc</h3>
        <div class="jumbotron">
          <p>At first an Electrical Engineer in Li-ion Industry. Then took another path, studied and then working in New York, became a software developer. Was made Lead Backend & iOS Developer by Wrevel for the contributions I had made: constructing the LAMP server for the new Meteor based project; creating restful API for the new iOS App, building all controllers, models and algorithm for the new iOS App; being the leading role in the iOS App project.
          </p>
        </div>        
        <a href="https://www.linkedin.com/in/ming-sun-b6b824a7/">Ming Sun onLinkedin</a>
        <br>
        <a href="https://github.com/supersun17">Ming Sun on Github</a>
      </div>
  </div>

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
</body>
</html>