<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>PROJECTS</title> 
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <style> 
    body {
      padding-top: 70px;
      padding-bottom: 30px;
    }     
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Ming Sun</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/home">Home</a></li>
          <li class="active"><a href="/projects">Projects</a></li>
          <li><a href="/about-me">About Me</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <a href="/chatroom" class="btn btn-primary" >Chat Room</a>
        <button href="#chatroom-info" data-toggle="collapse" class="btn btn-xs btn-link">What is it?</button>
      </div>
      <div id="chatroom-info" class="collapse col-lg-9 col-md-9 col-sm-12 col-xs-12">This is a very simple chat room. You can login using an alias name, and send messages in the lobby.</div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <a href="https://github.com/supersun17/Secretory" class="btn btn-primary" >Secretory</a>
        <button href="#secretory" data-toggle="collapse" class="btn btn-xs btn-link">What is it?</button>
      </div>
      <div id="secretory" class="collapse col-lg-9 col-md-9 col-sm-12 col-xs-12">Secretory is an iOS Mobile App. It takes users input as a record, and save it with a timestamp. So the users have a grasp of their life: how did you spend your time? </div>
    </div>
  </div>

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>