<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>CHAT ROOM - AUTHENTICATION</title> 
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/chatrooms.css">
  
  <style> 
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Ming Sun</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container text-center">
      <div class="row">
        <div class="jumbotron">
        <h1>Chat Room Register/Login</h1>
        <p>This is not a commercial website. So that the registration password can be anything, the Email address is not important. Once logged in, just send messages and post images around.</p>
        <p><span class="animate-0" style="padding-left: 10px;">Plan: use</span><span class="animate-1"> Vue.js</span><span class="animate-2"> to make a </span><span class="animate-3">cross-platform</span><span class="animate-4"> chatroom.</span></p>
        <!-- form for login -->
        <form id="form-login">
          <div>
            <input name="login-username" type="text" placeholder="Username:" required style="width: 300px" onclick="stateSwitch('waiting')" onblur="checkUserName(this.value)">
            <span id="state" class="label label-default">waiting</span>
          </div>
          <br>
          <div>
            <input name="login-pw" type="password" placeholder="Password:" required secure style="width: 300px;display: none;">
            <input type="hidden" name="login-pw-hash">
          </div>
          <br>
          <div>
            <button id="login-submit" type="submit" class="btn btn-lg btn-primary" style="display: none;">Login</button>
          </div>
        </form>
        <!-- form for register -->
        <form id="form-reg" style="display: none;">
          <div>
            <input name="reg-username" type="text" placeholder="Username:" required style="width: 300px">
          </div>
          <br>
          <div>
            <input name="reg-pw" type="password" placeholder="Password:" required secure style="width: 300px;">
          </div>
          <br>
          <div>
            <input name="reg-cfmpw" type="password" placeholder="Confirm Password:" required secure style="width: 300px;">
            <input type="hidden" name="reg-cfmpw-hash">
          </div>
          <br>
          <div>
            <button id="reg-submit" type="submit" class="btn btn-lg btn-primary">Register</button>
          </div>
        </form>
      </div>
      </div>
  </div>

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>

  <script type="text/javascript">
    $('input[name=login-pw]').blur(function(e) {
      var password = $('input[name=login-pw]').val();
      $('input[name=login-pw-hash]').val(CryptoJS.MD5(password));
    });
    $('input[name=reg-cfmpw]').blur(function(e) {
      var password = $('input[name=reg-cfmpw]').val();
      $('input[name=reg-cfmpw-hash]').val(CryptoJS.MD5(password));
    });
  </script>
  <script type="text/javascript">
    function checkUserName(username) {
      if(username != "") {
        $.ajax({
          type: "GET",
          dataType:"json",
          contentType: 'application/json',
          url: '/chatroom-auth?username='+username,
          success: function(res) {
            if(res.status == 'Not Found') {
              stateSwitch('waiting');
              if(confirm('Username not found, register?')) {
                $('#form-login').hide();
                $('#form-reg').show();
                $('input[name=reg-username]').val($('input[name=login-username]').val());
              }              
            } else if(res.status == 'Found') {
              stateSwitch('success');
              $('input[name=login-pw]').show();
              $('#login-submit').show();
            } else {
              stateSwitch('waiting');
              alert('Error');
            }
          },
          error: function(error) {
            console.log(error.responseText);
          }
        });
      }
    }

    function stateSwitch(state) {
      $('#state').removeClass();
      $('#state').text(state);
      switch(state) {
        case 'waiting':
          $('#state').addClass('label label-default');
          break;
        case 'success':
          $('#state').addClass('label label-success');
          break;
        case 'failed':
          $('#state').addClass('label label-danger');
          break;
      }
    }
  </script>

  <script type="text/javascript">
    $('#form-login').submit(function(e) {
      e.preventDefault();
      login();
    });

    $('#form-reg').submit(function(e) {
      e.preventDefault();
      reg();
    });

    function login() {
      var user = {
        username: $('input[name=login-username]').val(),
        password: $('input[name=login-pw-hash]').val()
      }
      // console.log(user);
      $.ajax({
        type: "POST",
        dataType:"json",
        url: '/chatroom-auth',
        data: user,
        success: function(res) {
          if(res.status == 'Not Found') {
            stateSwitch('failed');
            alert('Incorrect password');
          } else if(res.status == 'Found') {
            stateSwitch('success');
            // redirect afterward
            window.location.href = '/chatroom-main';
          } else {
            stateSwitch('waiting');
            alert('Error');
          }
        },
        error: function(error) {
          console.log(error.responseText);
        }
      });
    }

    function reg() {
      var newAccount = {
        username: $('input[name=reg-username]').val(),
        password: $('input[name=reg-cfmpw-hash]').val()
      }
      // console.log(newAccount);
      $.ajax({
        type: "POST",
        dataType:"json",
        url: '/chatroom-reg',
        data: newAccount,
        success: function(res) {
          if(res.status == 'Dup') {
            stateSwitch('failed');
            alert('Duplicate Username');
          } else if(res.status == 'Success') {
            stateSwitch('success');
            // redirect afterward
            window.location.href = '/chatroom-main';
          } else {
            stateSwitch('waiting');
            alert('Error');
          }
        },
        error: function(error) {
          console.log(error.responseText);
        }
      });
    }

  </script>

</body>
</html>